
{{> head}}
{{> navbar }}


<div class="row">
    <div class="col-8">
        <h1>Yogo Azumi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, quod! Excepturi facilis reiciendis, blanditiis magnam consequuntur eius maiores molestiae. Dolore blanditiis voluptas repellat facilis adipisci doloribus rem minima odio saepe?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/yogoazumi.JPG"class="img-thumbnail" >
    </div>

</div>




{{> footer }}